/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.float-right {float: right;}
.float-left {float:left;}
.text-strong{font-weight: bold;}
.text-clickable{
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
@media only screen and (min-width: 1024px) {
    .mobile-only{
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .mobile-hide{
      display: none;
    }
    .mobile-full{
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
}